// Variables
//----------------------------------

@import 'variables';


// Plugins
//----------------------------------

@import '../assets/plugins/bootstrap/scss/bootstrap';
@import '../assets/plugins/fontawesome/font-awesome';
@import '../assets/plugins/ladda/ladda.scss';
@import '../assets/plugins/customScrollBar/customScrollBar.scss';
@import '../assets/plugins/toastr/toastr.scss';
@import '../assets/plugins/notie/notie.scss';
@import "../assets/plugins/switchery/switchery.scss";
@import "../assets/plugins/select2/select2.scss";
@import "../assets/plugins/select2/select2-bootstrap.scss";
@import "../assets/plugins/bootstrapSelect/bootstrap-select.scss";
@import "../assets/plugins/clockpicker/clockpicker.scss";
@import "../assets/plugins/datatables/datatables.scss";
@import "../assets/plugins/multiselect/multiselect.scss";
@import "../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.scss";
@import "../assets/plugins/timepicker/timepicker";
@import "../assets/plugins/summernote/summernote.scss";
@import "../assets/plugins/simplemde/simplemde.scss";
@import "../assets/plugins/pace/pace.scss";
@import "../assets/plugins/alertify/alertify.scss";
@import "../assets/plugins/easypiecharts/easypiecharts.scss";
@import "../assets/plugins/metisMenu/metisMenu.scss";
@import "../assets/plugins/nestable/nestable.scss";
@import "../assets/plugins/jstree/jstree.min.scss";
@import "../assets/plugins/ace-editor/twilight.scss";
@import "../assets/plugins/icons/icons.scss";
@import "../assets/plugins/calendar/fullcalendar.scss";
@import "../assets/plugins/form-wizard/wizard.scss";
@import "../assets/plugins/form-wizard/wizard2.scss";
@import "../assets/plugins/imageCropper/cropper.scss";
@import "../assets/plugins/gallery/image/photoswipe.scss";
@import "../assets/plugins/gallery/image/default-skin.scss";
@import "../assets/plugins/zoom/zoom.scss";
@import "../assets/plugins/rating/star-rating.scss";
@import "../assets/plugins/bar-rating/bar-rating.scss";
@import "../assets/plugins/charts/amcharts/export.scss";
@import "../assets/plugins/charts/morris/morris.scss";
@import "../assets/plugins/prism/prism.scss";

// Skins
//----------------------------------
@import 'skins/skin-tyrell';
@import 'skins/skin-arryn';
@import 'skins/skin-targaryen';
@import 'skins/skin-lannister';
@import 'skins/skin-stark';


// Site Base
//----------------------------------

@import 'base';


// Layouts
//----------------------------------

@import 'layouts/layout';
@import "layouts/layout-icon-sidebar";
@import "layouts/layout-horizontal";


// Partials
//----------------------------------

@import 'partials/header';
@import 'partials/sidebar';
@import 'partials/footer';


// Components
//----------------------------------

@import 'components/forms';
@import 'components/buttons';
@import 'components/cards';
@import 'components/tabs';
@import 'components/tables';
@import "components/modals";
@import 'components/hamburgers';
@import "components/transitions";


// Pages
//----------------------------------

@import 'pages/dashboard';
@import 'pages/login';
@import "pages/login-1";
@import 'pages/login-2';
@import 'pages/login-3';
@import 'pages/user-profile';
@import 'pages/404';
@import 'pages/settings';


@import "demo";



