<!DOCTYPE html>
<html>

<head>
    <meta charset = "utf-8">
    <title>Laraspace - Laravel Admin</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <script src="../../assets/global/js/core/pace.js"></script>
    <!-- START CORE CSS-->
    <link href="../../assets/global/css/laraspace.css" rel="stylesheet" type="text/css">
    <!-- END CORE CSS -->

    <!-- START CORE PLUGIN -->
    <link href="../../assets/plugins/fontawesome/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../../assets/plugins/customScrollBar/customScrollBar.css" rel="stylesheet" type="text/css">
    <!-- END CORE PLUGIN -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="ju0AJjtVlV2LnL9lhkK9fOpg7DhuaMFVgR1mifUv">
    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/global/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/global/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/global/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/global/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/global/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/global/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/global/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/global/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/global/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../assets/global/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../assets/global/img/favicons/android-chrome-192x192.png"
          sizes="192x192">
    <link rel="icon" type="image/png" href="../../assets/global/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../assets/global/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../../assets/global/img/favicons/manifest.json">
    <link rel="mask-icon" href="../../assets/global/img/favicons/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" href="../../assets/global/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/global/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/global/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#333333">
</head>
<body class="layout-horizontal skin-default">

<div id="app" class="site-wrapper">
    <header class="site-header">
        <a href="#" class="brand-main">
            <img src="../../assets/global/img/logo-desk.png" id="logo-desk" alt="Laraspace Logo" class="hidden-sm-down">
            <img src="../../assets/global/img/logo-mobile.png" id="logo-mobile" alt="Laraspace Logo"
                 class="hidden-md-up">
        </a>
        <a href="#" class="nav-toggle">
            <div class="hamburger hamburger--htla">
                <span>toggle menu</span>
            </div>
        </a>

        <ul class="action-list">
            <li>
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-plus"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="icon-fa icon-fa-edit"></i> New Post</a>
                    <a class="dropdown-item" href="#"><i class="icon-fa icon-fa-tag"></i> New Category</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="icon-fa icon-fa-star"></i> Separated link</a>
                </div>
            </li>
            <li>
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-bell"></i></a>
                <div class="dropdown-menu dropdown-menu-right notification-dropdown">
                    <h6 class="dropdown-header">Notifications</h6>
                    <a class="dropdown-item" href="#"><i class="icon-fa icon-fa-user"></i> New User was Registered</a>
                    <a class="dropdown-item" href="#"><i class="icon-fa icon-fa-comment"></i> A Comment has been posted.</a>
                </div>
            </li>
            <li>
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="avatar"><img
                        src="../../assets/global/img/avatars/avatar.png" alt="Avatar"></a>
                <div class="dropdown-menu dropdown-menu-right notification-dropdown">
                    <a class="dropdown-item" href="../settings.html"><i class="icon-fa icon-fa-cogs"></i> Settings</a>
                    <a class="dropdown-item" href="../../login.html"><i class="icon-fa icon-fa-sign-out"></i> Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="mobile-menu-overlay"></div>
    <div class="header-bottom">

        <ul class="header-nav">
            <li class="   has-child ">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-dashboard"></i> Dashboard</a>
                <div class="dropdown-menu">
                    <div class="">
                        <a class="dropdown-item  " href="../dashboard/basic.html">Basic</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../dashboard/ecommerce.html">Ecommerce</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../dashboard/finance.html">Finance</a>
                    </div>
                </div>
            </li>
            <li class="active   has-child ">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-th-large"></i> Layouts</a>
                <div class="dropdown-menu">
                    <div class="">
                        <a class="dropdown-item  " href="sidebar.html">Sidebar</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="icon-sidebar.html">Icon Sidebar</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="horizontal-menu.html">Horizontal Menu</a>
                    </div>
                </div>
            </li>
            <li class="   has-child ">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-star"></i> Basic UI</a>
                <div class="dropdown-menu">
                    <div class="">
                        <a class="dropdown-item  " href="../basic-ui/buttons.html">Buttons</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../basic-ui/cards.html">Cards</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../basic-ui/tabs.html">Tabs &amp; Accordians</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../basic-ui/typography.html">Typography</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../basic-ui/tables.html">Tables</a>
                    </div>
                </div>
            </li>
            <li class="   has-child ">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-puzzle-piece"></i> Components</a>
                <div class="dropdown-menu">
                    <div class="">
                        <a class="dropdown-item  " href="../components/datatables.html">Datatables</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../components/notifications.html">Notifications</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../components/nestable-list.html"> Nestable List</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../components/nestable-tree.html">Nestable Tree</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../components/image-cropper.html">Image Cropper</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../components/zoom.html">Image Zoom</a>
                    </div>
                    <div class="">
                        <a class="dropdown-item  " href="../components/calendar.html">Calendar</a>
                    </div>
                    <div class="dropdown-submenu ">
                        <a class="dropdown-item   dropdown-subitem " href="#">Rating</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../components/ratings/star.html">Star Ratings</a>
                            <a class="dropdown-item" href="../components/ratings/bar.html">Bar Ratings</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="  ">
                <a href="../todos.html"><i class="icon-fa icon-fa-check"></i> Todo App</a>
            </li>
            <li class="   has-child ">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="icon-fa icon-fa-cogs"></i> Settings</a>
                <div class="dropdown-menu">
                    <div class="">
                        <a class="dropdown-item  " href="../settings/social.html">Social</a>
                    </div>

                </div>
            </li>
        </ul>

    </div>
    <div class="main-content" id="dashboardPage">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-3">
                <a class="dashbox" href="#">
                    <i class="icon-fa icon-fa-envelope text-primary"></i>
                    <span class="title">
                      35
                    </span>
                    <span class="desc">
                      Mails
                    </span>
                </a>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <a class="dashbox" href="#">
                    <i class="icon-fa icon-fa-ticket text-success"></i>
                    <span class="title">
                      200
                    </span>
                    <span class="desc">
                      Pending Tickets
                    </span>
                </a>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <a class="dashbox" href="#">
                    <i class="icon-fa icon-fa-shopping-cart text-danger"></i>
                    <span class="title">
                      100
                    </span>
                    <span class="desc">
                      New Orders
                    </span>
                </a>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <a class="dashbox" href="#">
                    <i class="icon-fa icon-fa-comments text-info"></i>
                    <span class="title">
                      59
                    </span>
                    <span class="desc">
                      Comments
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-6 m-t-2">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="icon-fa icon-fa-line-chart text-primary"></i> Monthly Sales</h6>
                    </div>
                    <div class="card-block">
                        <line-chart :labels="['Jan','Feb','Mar','June']" :values="[20,30,40,60]"></line-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 m-t-2">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="icon-fa icon-fa-bar-chart text-success"></i> Yearly Sales</h6>
                    </div>
                    <div class="card-block">
                        <bar-chart :labels="['Jan','Feb','Mar','June']" :values="[20,30,40,60]"></bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-6 m-t-2">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="icon-fa icon-fa-shopping-cart text-danger"></i> Recent Orders</h6>
                    </div>
                    <div class="card-block">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Walter White</td>
                                <td>05/12/2016</td>
                                <td>555$</td>
                                <td><a href="#" class="btn btn-default btn-xs">View</a></td>
                            </tr>
                            <tr>
                                <td>Hank Hill</td>
                                <td>05/12/2016</td>
                                <td>222$</td>
                                <td><a href="#" class="btn btn-default btn-xs">View</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6 m-t-2">
                <div class="card">
                    <div class="card-header">
                        <h6><i class="icon-fa icon-fa-users text-info"></i> New Customers</h6>
                    </div>
                    <div class="card-block">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Walter White</td>
                                <td>05/12/2016</td>
                                <td>555$</td>
                                <td><a href="#" class="btn btn-default btn-xs">View</a></td>
                            </tr>
                            <tr>
                                <td>Hank Hill</td>
                                <td>05/12/2016</td>
                                <td>222$</td>
                                <td><a href="#" class="btn btn-default btn-xs">View</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="text-right">
            Powered by <a href="http://bytefury.com/" target="_blank">Bytefury</a>
        </div>
    </footer>
    <div class="skin-tools">
        <a class="skin-tools-action">
            <i class="icon-fa icon-fa-cog"></i>
        </a>
        <div class="skin-tools-content">
            <h5 class="mt-2">Select Skin</h5>
            <div class="row mt-md-4">
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio active" data-skin="default" title="Skin - Default">
                        <img src="../../assets/global/img/skins/skin-default.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="tyrell" data-logo="white" title="Skin - Tyrell">
                        <img src="../../assets/global/img/skins/skin-tyrell.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mt-md-4">
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="arryn" data-logo="white" title="Skin - Arryn">
                        <img src="../../assets/global/img/skins/skin-arryn.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="lannister" data-logo="white" title="Skin - Lannister">
                        <img src="../../assets/global/img/skins/skin-lannister.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mt-md-4">
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="stark" title="Skin - Stark">
                        <img src="../../assets/global/img/skins/skin-stark.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 skin-item">
                    <a href="#" class="skin-radio" data-skin="targaryen" title="Skin - Targaryen">
                        <img src="../../assets/global/img/skins/skin-targaryen.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START GLOBAL  PLUGINS -->
<script src="../../assets/global/js/core/plugins.js"></script>

<!-- END GLOBAL  PLUGINS -->

<!-- START  PAGE PLUGINS  -->
<script src="../../assets/plugins/Chartjs/Chart.js"></script>
<script src="../../assets/global/js/core/app.js"></script>
<!-- END  PAGE PLUGINS  -->


</body>
</html>
